.box{
    background-color: red;
width: 50vw;
height: 50vh;
position: relative;
}
.box::after{
   content: '';
   background-color: purple;
   position: absolute;
   right: 0;
   top:0;
   height: 100%;
   width: 50%;
}
.box:nth-child(1):hover{
    background-color:blue;
}
